
  .pro-sidebar-inner  {
    background-color: red;
  
}

.nav {
  background-color: red ;
}
* {
  margin: 0px;
}

.sidenav {

  width: 20%;
  height: 100%;
  position: fixed;
  background-color: royalblue;
}